

    <footer class="footer">
        <div class="container-fluid">
          <nav class="float-left">
            <ul>

              <li>
                <a target="_blank" rel="noopener noreferrer" 
                   href="/page-user.html">
                   AI智能医学影像分割平台
                </a>
              </li>

            </ul>
          </nav>
          <div class="copyright float-right">
            &copy; <a target="_blank" rel="noopener noreferrer" 
                      href="#">湘潭大学</a>
                      - coded by <a target="_blank" rel="noopener noreferrer" href="#">EZIO</a>
          </div>
        </div>
    </footer>
